@charset 'utf-8';

*, *::before, *::after {
        box-sizing: inherit;
}

html {
        font-size: 62.5%;

        @include respond-to('medium') {
                font-size: 55%;
        }

        @include respond-to('small') {
                font-size: 50%;
        }

        @include respond-to('extra-small') {
                font-size: 45%;
        }
}

body {
        font-size: 1.6rem;
        box-sizing: border-box;
}

h1, h2 {
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
}

h1 {
        font-size: 3rem;
}
